{% extends 'layout.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Historial de Transacciones</h1>
        <h2>Transacciones</h2>
        <ul class="list-group">
            {% for transaccion in transacciones %}
            <li class="list-group-item">
                Monto: ${{ transaccion.monto }} - Fecha: {{ transaccion.fecha }}
            </li>
            {% endfor %}
        </ul>
        <h2 class="mt-4">Facturas</h2>
        <ul class="list-group">
            {% for factura in facturas %}
            <li class="list-group-item">
                Factura #{{ factura.id }} - Monto: ${{ factura.monto }} - Fecha: {{ factura.fecha }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
