{% extends 'layout.html' %}

{% block content %}
<div class="full-height-container">
    <div class="container">
        <div class="form-container">
            <h1>Registrarse</h1>
            <form action="{{ url_for('registro') }}" method="POST">
                <div class="form-group">
                    <label for="nombre_usuario">Nombre de usuario</label>
                    <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" name="contraseña" required>
                </div>
                <button type="submit" class="btn">Registrarse</button>
            </form>
        </div>
        <div class="switch-container">
            <h2>¡Hola, amigo!</h2>
            <p>¿Ya tienes una cuenta? Inicia sesión para continuar</p>
            <a href="{{ url_for('login') }}">Iniciar Sesión</a>
        </div>
    </div>
</div>
{% endblock %}
