<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Respuestas</title>
</head>
<body>
    <div>
        <h1>Respuestas del Tema: {{ tema.titulo }}</h1>
        <h3>Descripción del Tema:</h3>
        <p>{{ tema.descripcion }}</p>
        <hr>
        <h2>Respuestas:</h2>
        <ul>
            {% for respuesta in respuestas %}
                <li>
                    <p>{{ respuesta.contenido }}</p>
                    <p>Respondido por: {{ respuesta.usuario.nombre_usuario }}</p>
                    <p>Fecha de Respuesta: {{ respuesta.fecha_respuesta }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Agregar Respuesta</h2>
        <form action="{{ url_for('agregar_respuesta', id_tema=tema.id) }}" method="POST">
            <div>
                <label for="contenido">Contenido:</label>
                <textarea id="contenido" name="contenido" rows="4" cols="50"></textarea>
            </div>
            <div>
                <button type="submit">Enviar Respuesta</button>
            </div>
        </form>
    </div>
</body>
</html>
